@{
    ViewBag.Title = "About";
}
<h1>About Me</h1>

<p>
    Hello! My name is Sri and I am an Information Technology Student. Listening to music is one of my favorite things to do. It helps me forget all the bad things that happened on that day and refresh my mind. Music is definitely one of the things that I can't live without. Through this application, I'm going to list all of my favorite music.
</p>
